@font-face {
  font-family:'peyda-regular'; 
  src: url('../Fonts/peyda-regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'peyda-medium'; 
  src: url('../Fonts/peyda-medium.ttf') format('truetype');
  font-weight: 500;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  background-color: #dadada;
  font-family:'peyda regular','Peyda SemiBold';
}

.container{
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
  align-items: center;
}

.container-white{
	display: flex;
	flex-direction: row;
	width: 1920px;
	height: 1080px;
	background: #FFFFFF;
  justify-self: center;
}

.image-container {
  width: 1080px;
  height: 1080px; 
}

.image-container img {
  width: 100%;
  height: 100%;
}

.right-container{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.right-container img{
	width: 303px;
	height: 242px;
	margin: 182px 275px 22px 258px;
}

.text{
  display: inline-block;
  width: 449px;
  height: 41px;  
  margin: 0px  185px  36px  203px;
  font-family: 'peyda regular';
  font-weight: 400px;
	font-size: 18px;
	line-height: 40px;
	text-align: center;  
  letter-spacing: 0px;
  color: #000;
}

#form{
  direction: rtl;
  display: flex;
  flex-direction: column;
  width: 354px;
  height: 304px;
  margin:0px 243px 254px 239px ;
}

.label {
  display: block;
  width: 354px;
  margin-bottom: 4px;
  color: #190C33;
  font-family: 'peyda regular';
  font-size: 16px;
  font-weight: 400px;
  line-height: 32px;
  text-align: right;
}

.text-field {
  width: 354px;
  height: 48px;
  border-radius: 12px;
  border: none;
  background: #f7f8fa;
  margin-top: 4px;
  margin-bottom: 34px;
  padding: 15px 12px;
  font-family:'peyda regular';
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-align: right;
  color: #A5A5A5;
  opacity:1px;
}

.btn {
  width: 354px;
  height: 48px;
  margin-top: 32px;
  padding: 8px 16px;
  border-radius: 12px;
  border: none;
  background-color: #193b57;
  color: #fff;
  font-family: 'Peyda SemiBold';
  font-size: 16px;
  font-weight: 700;
  font-style: Bold;
  text-align: center;
  line-height: 30px;
}

.btn:hover{
  background-color:#234d6c ;
}
