@font-face {
  font-family: 'peyda-regular';
  src: url('../Fonts/peyda-regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap; 
}

@font-face {
  font-family: 'peyda-medium';
  src: url('../Fonts/peyda-medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap; 
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #dadada;
  font-family: 'peyda-regular', sans-serif;
}

.container{
  width: 100%;
  height: 100vh;
  max-width: 1600px;
  max-height: 900px;
  display: flex;
  background: #FFFFFF;
}

.image-container {
  min-width: 0;
  height: 100%;
  flex: 1.4; 
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.right-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  min-width: 0;
  padding: 40px 15px;
  background: #FFFFFF;
}

.right-container img{
  width: 180px;
  height: auto;
  max-width: 303px;
  max-height: 242px;
  margin-bottom: 30px;
}

.text{
  width: 450px;
  margin-bottom: 40px;
  font-family: 'peyda-regular', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  text-align: center;  
  color: #000;
}

#form{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 320px;
}

.label {
  display: block;
  width: 100%;
  margin-bottom: 8px;
  color: #190C33;
  font-family: 'peyda-regular', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  text-align: right;
}

.text-field {
  width: 100%;
  height: 48px;
  border-radius: 12px;
  border: none;
  background: #f7f8fa;
  margin-bottom: 20px;
  padding: 15px 12px;
  font-family: 'peyda-regular', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-align: right;
  color: #A5A5A5;
}

.btn {
  width: 100%;
  height: 48px;
  margin-top: 10px;
  padding: 8px 16px;
  border-radius: 12px;
  border: none;
  background-color: #193b57;
  color: #fff;
  font-family: 'peyda-medium', sans-serif; 
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  line-height: 30px;
}

.btn:hover{
  background-color: #234d6c;
}

