* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
    display: flex;
    justify-self: center;
    justify-content:center;
    gap: 15px;
    width: 500px;
    height: 100px;
    margin-top: 50px;
    padding: 12px;
    border: 2px dashed #cdced1;
    border-radius: 7px;
    background-color: #fff;
}

.box{
    height: 100%;
    max-width: 300px; 
    flex-grow: 1;
    border-radius: 2px;
    background-color: #7b68ee;
    transition: all 0.5s ease ;
}

.box:active{
    flex-grow: 3;
    background-color: #ffa07a;
}
