*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #148BD3;
    font-family:sans-serif;
}

.container{
    width: 200px;
    height: 280px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    gap: 11px;
    padding: 10px;
    border-radius: 10px;
}

.picture{
    width: 100%;
    height: 185px;
}

.picture img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.content{
    width: 100%;
    height: 120px;
    display: flex;
    padding: 2px;
    font-family:sans-serif;
    color: #030E09;
    position: relative;
}

.menu{
    position: absolute;
    top: 14px;
    right: 6px;
    width: 3px;
    height: 3px;
    background-color: #7e7d7d;
    border-radius: 50%;
}

.menu::before {
    content: '';
    position: absolute;
    width: 3px;
    height: 3px;
    background-color: #7e7d7d;
    border-radius: 50%;
    top: -5px;
    left: 0;
}

.menu::after {
    content: '';
    position: absolute;
    width: 3px;
    height: 3px;
    background-color: #7e7d7d;
    border-radius: 50%;
    top: 5px;
    left: 0;
}

.text-content h3{
    font-size: 13px;
    font-weight: 800;
    line-height: 2.2;
}

.text-content p{
    font-size: 11px;
    font-weight: 500;
    line-height: 1.2;
}

